<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/signup" method="post">
      <h1>Sign Up</h1>
      <label for="name">Name</label>
      <input autocomplete="off" type="text" name="name" value="" placeholder="name">
      <label for="email">Email</label>
      <input autocomplete="off" type="text" name="email" value="" placeholder="example@email.com">
      <label for="username">Username</label>
      <input autocomplete="off" type="text" name="username" value="" placeholder="username">
      <label for="password">Password</label>
      <input type="text" name="password" value="" placeholder="password">
      <input type="submit" name="signup" value="signup">
    </form>
  </body>
</html>
